.lista-aulas-container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    font-family: "Arial", sans-serif;
    color: #222;

    height: 700px;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.jiu {
    background-color: #5733ac;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
}

.muay {
    background-color: #ac3333;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
}

.Nogi {
    background-color: #92ac33;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
}


.lista-aulas-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    color: #333;
}

.aula-card {
    background: #fff;
    padding: 18px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-left: 6px solid #3f51b5;
    transition: 0.2s;
    text-align: left;

    scrollbar-width: auto;
}

.dadosAulas{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
}
.dadosAulas p{
    text-align: left;
    font-size: 25px;
}

.aula-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.aula-card strong {
    color: #222;
}

.aula-card .btn-group {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

.btn-excluir,
.btn-ver {
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.btn-excluir {
    background: #e53935;
    color: white;
}

.btn-excluir:hover {
    background: #c62828;
}

.btn-ver {
    background: #3f51b5;
    color: white;
}

.btn-ver:hover {
    background: #303f9f;
}

@media (max-width: 600px) {
    .aula-card {
        padding: 15px;
    }

    .btn-group {
        flex-direction: column;
        gap: 8px;
    }

    .btn-excluir,
    .btn-ver {
        width: 100%;
    }
}