.dashboard-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;

}

.main-container {
  background-color: #edf0f3;
  width: 99%;
  padding: 50px;
  border-radius: 10px;
  margin: 20px auto;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 50%;
  margin: 20px auto;
}


.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.2s;
  
  margin-left: 50px;
}

@media (max-width: 768px) {
  .cards-container {
    width: 50%;
    display: contents;
  }

  .card{
    margin-bottom: 10px;
  }

}
.card:hover {
  transform: translateY(-4px);
}

.icon {
  font-size: 28px;
  margin-bottom: 10px;
}

.card h3 {
  margin: 5px 0;
  font-size: 22px;
}

.card p {
  font-size: 14px;
  color: #666;
}

/* cores dos cards */
.card.green {
  border-left: 6px solid #28a745;
}

.card.red {
  border-left: 6px solid #dc3545;
}

.card.blue {
  border-left: 6px solid #007bff;
}

.card.yellow {
  border-left: 6px solid #ffc107;
}

/* área de gráficos */
.chart-container {
  display: grid;
  align-items: center;

}

.chart-container>h3 {
  margin: auto;
}