.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.hamburger-btn {
  display: none;
}

.menuDesk {
  display: flex;
 
  justify-content: space-around;
  width: 100%;
  padding: 10px 20px;
}

.menuDesk a{
    color: white;
    text-decoration: none;
    font-size: 18px;

}

@media (max-width: 901px) {
    .menuDesk {
        display:none;
    }
    .menuDesk a {
        display: none;
    }
}

@media (max-width: 900px) {
  .hamburger-btn {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 34px;
    color: white;
    z-index: 1;
  }

  .nav-links {
    display: none;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 998;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}

.menu-header {
  display: flex;
  /* background-color: #ccc; */
  align-items: center;
  border-radius: 1px;
  padding: 10px;
  border-bottom: 1px solid black;
  
}

.side-menu {
  position: fixed;
  top: 0;
  left: -270px;
  width: 260px;
  height: 100vh;
  background: #edf0f3;;
  backdrop-filter: blur(12px);
  padding: 20px;
  flex-direction: column;
  transition: left .3s ease;
  z-index: 1000;
  box-shadow: 4px 0 18px rgba(0,0,0,0.4);
}

.side-menu ul {
    background-color: #cccccc62;
    height: 100%;
    border-radius: 10px;
}

.side-menu a{
    padding:10px
}

@media (max-width: 900px) {
  .side-menu.open {
    left: 0;
  }
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.side-menu li {
  margin-bottom: 18px;
}

.side-menu a {
  color: #252525;
  font-size: 25px;
  display: flex;

  font-family: fantasy;
  
  text-decoration: none;
}

.side-menu a:hover {
  color: #fff;
}

.close-icon {
  color: white;
  font-size: 32px;
  cursor: pointer;
}
