.navbar {
    display: flex;
    align-items: center;
}


.nav-links {
    display: flex;
    gap: 90px;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
   
}

.nav-links li a {
    text-decoration: none;
    color: #d1d5db;
    font-size: 1.9rem;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-links li a:hover {
    color: #ffffff;
    border-bottom: 2px solid #3b82f6;
}



@media (max-width: 1024px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #111827;
        position: absolute;
        top: 70px;
        right: 20px;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    }
    .menu-icon{
        font-size: xx-large;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }
}