.status-card {
  flex: 1;
  min-width: 20px;
  max-width: 250px;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin:none;
  color: #333;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.status-card:hover {
  transform: translateY(-3px);
}

.status-icon {
  font-size: 32px;
}

.status-info {
  display: flex;
  flex-direction: column;
}

.status-title {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.status-value {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}