.saudacao-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
}

.saudacao-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.saudacao-header p {
    margin: 0;
    font-size: 16px;
    color: #666;
}