.saudacao-header {}

.saudacao-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.saudacao-header p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

@media (max-width: 1024px) {
    .saudacao-header {
        display: grid;
    }

    .saudacao-header h1 {
        margin: auto;
        font-size: 20px;
        font-weight: 600;
        color: #333;
    }

    .saudacao-header p {
        margin: 0;
        font-size: 16px;
        color: #666;
    }
}