.footerClass {
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
    
    position: relative;
    top: 50px;
    height: 70px;
    
}

footer > p {
    margin: auto;
    font-size: 10px;
    color: black;

}