.main-content {
    display: flex;
    flex-direction: column;
    height: 600px;
    margin-top: 80px;
    padding: 10px;
    background-color: #f9f9f9;
}

.calendario-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 490px;
    position: absolute;
}

.h1Calendario {
    color: black;
    text-align: center;
    padding-top: 30px;
}

.h2Criar {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.form-calendario {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    height: 100vh;
    background-color: #f9f9f9
}

input,
select {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btnAula {
    display: flex;
    font-family: "Roboto", sans-serif;
    margin: auto;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btnAula:active {
    width: 140px;
    font-size: 19px;
    background-color: #007bffc0;
    box-shadow: -3px -3px black;
}


.Alunos-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 700px;
    height: 100vh;
    background-color: #f9f9f9;
}


.Alunos-presentes {
    background-color: #ddd;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
   
    justify-content: space-between;
}

.container-alunos {

    text-align: center;
    background-color: #c0c0c0;
    border-radius: 20px;
    padding: 10px;
    height: 400px;
    font-size: 19px;
}

.container-alunos td {
    border-radius: 10px;

}

.btnPresensa {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: auto;
    width: 100px;
    justify-content: center;
    margin-top: 5px;    
    padding: 10px ;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.h2Presentes {
    color: black;
    text-align: center;
 
}