* {
  font-family: "Roboto", sans-serif;

}

.main-content {
  width: 100%;


}


.cardsAula {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  padding: 30px;
  height: 100%;
  width: 1000px;
  border-radius: 10px;
}

.h1Presenca {
  text-align: center;

}

.info-aula {
  margin-bottom: 30px;
  background: #c4c3c3;
  padding: 10px;
  border-radius: 8px;
}


.jiu {
  background-color: #5733ac;
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
}

.muay {
  background-color: #ac3333;
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
}

.Nogi {
  background-color: #92ac33;
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
}

.dataFormata {
  background-color: #636363ab;
  padding: 15px;
  border-radius: 10px;
  color: aliceblue;
}

.horarioFormata {
  background-color: #636363ab;
  padding: 15px;
  border-radius: 10px;
  color: aliceblue;
}

.info-aula p {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}


.h3Presenca {
  text-align: center;
  margin-bottom: 20px;
}



.tabela-presenca th,
.tabela-presenca td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.presente {
  background-color: #4caf50;
  color: white;
  border: none;

  border-radius: 10px;
}

.marcar {
  background-color: #007bff;
  color: white;
  border: none;

  border-radius: 10px;
}

.btnSalvar {
  background: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-editar {
  background: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.tabela-presenca {
  width: 100%;
  background: #c4c3c3;
  border-radius: 10px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabela-presenca th,
.tabela-presenca td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

tbody td:nth-child(2) {
  text-align: center;
}

thead th:nth-child(2) {
  text-align: center;
}