* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.main-container {
  background-color: #edf0f3;
  width: 99%;
  padding: 50px;
  border-radius: 10px;
  margin: 20px auto;
}

.main-container h2 {
  font-size: 50px;
  display: flex;
  justify-content: center;

}

.table-container {
  padding: 20px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;

}

.tabs {
  display: flex;
  margin-bottom: 1rem;
}

.tab {
  padding: 10px 20px;
  border: none;
  background: #eee;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.tab:not(:last-child) {
  margin-right: 5px;
}

.tab.active {
  background: #007bff;
  color: white;
  border-radius: 5px;
}

.table-container th {
  font-size: 25px;
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.table-container td {
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
}



.table-container button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.table-container button:hover {
  background-color: #45a049;
}

button {
  padding: 20px;
  margin-right: 10px;
}

.desktop-view {
  display: block;
}

.mobile-view {
  display: none;
}


@media (max-width: 1024px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

   
    max-height: 70vh;  
    overflow-y: auto;

    padding-right: 8px;
  }


  .card {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;  
  }

  .card-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}


.btn {
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.btn.green {
  background: #4CAF50;
}

.btn.red {
  background: #f44336;
}

.btn.orange {
  background: #ff9800;
}

.btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}