.header {
    font-family: "Roboto", sans-serif;
    background-color: #1f2937;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.logoImg {
    margin-right: 45px;
    width: 100px;
    background-color: rgba(209, 213, 219, 0.50);
    border-radius: 50px;
    height: auto;
}

.logout-btn {
    background: none;
    border: 1px solid #d1d5db;
    color: #d1d5db;
    padding: 0.3rem 0.8rem;
    height: 40px;
    width: 40px;
    border-radius: 41px;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    transition: background 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
    background: #374151;
    color: white;
}


@media (max-width: 768px) {
    .header {
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        height: auto;
        padding: 1.5rem 1rem;
        gap: 20px;
       
    }

    .logoImg {
        margin: 0 auto;
        width: 90px;
        display: block;
    }

    .navBar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        text-align: center;
    }


}



